#!/usr/bin/env bash

set -euo pipefail

export BW_SESSION=${BW_SESSION:-`bw unlock --raw` }
export SD=$HOME/mogul-secrets
mkdir -p "$SD" 



## AWS
S3_FILE=$HOME/s3

bw get item aws-s3-credentials--production  > $S3_FILE

export AWS_REGION=$( cat "$S3_FILE" | jq -r '.fields[] | select(.name == "region") | .value' )
export AWS_ACCESS_KEY_ID=$( cat "$S3_FILE"  | jq -r '.fields[] | select(.name == "access-key") | .value' )
export AWS_SECRET_ACCESS_KEY=$( cat "$S3_FILE"  | jq -r '.fields[] | select(.name == "access-key-secret") | .value')
export AWS_BUCKET_NAME=bootiful-asciidoctor

export GIT_USERNAME=joshlong
export GIT_PASSWORD=$( bw get item github-joshlong-profile-personal-access-token )
export GIT_REPOSITORY_URI=https://github.com/bootiful-asciidoctor/sample-book
rm -rf $SD && echo "cleaned up $SD "